:root {
    --transpWhite:  rgba(255, 255, 255, 0.636);
    --darkFont: #3b3737;
    --lightFont: #5b5454;
    --redFont: #d14b4b;
  }
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');
html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: auto;
}
body {
	margin: 0;
    padding: 0;
    width: auto;
    font-family: 'Nunito';
    top: 0px !important;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
.goog-te-gadget-simple{
    background-color: #efefef;
    border: none !important;
    border-radius: 50px !important;
    padding: 4.4px 1px !important;
    transition: 0.2s;
}

.skiptranslate iframe{
    visibility:hidden !important;
    display:none !important;
}
.header {
    height: 70px;
    width: 100%;
    background-color: white;
}
.logoHolder{
    font-size: 28px;
    color: black;
    align-items: center;
    padding: 0 20px;
}
.logo, .dayIcon, .detailedIcon{
    height: 50px;
    width: 50px;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    box-sizing: border-box;
}
.logo{
    margin-right: 8px;
    background-image: url('./icons/day/176.png');
}
.dayIcon{
    height: 48px;
    width: 48px;
    margin-right: 10px;
}
.pcOnly{
    display: block;
}
.mobileOnly{
    display: none;
}
nav{
    z-index: 1000;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline;
    z-index: 1000;

}
nav ul li a{
   text-decoration: none;
   color: var(--darkFont);
   font-size: 17px;
   margin-right: 20px;
   padding: 5px 7px 5px 7px;
   border-radius: 9px;
   transition: 0.2s;
}
nav ul li a:hover{
    background-color: #d6d6d6;
}
#searchSubmit{
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border: none;
    position: relative;
    background-image: url(icons/search.png);
    opacity: 0.4;
    background-size: cover;
    transition: 0.3s;
    cursor: pointer;
    margin-left: 5px;
}
#searchForm{
    display: flex;
    align-items: center;
    padding: 0px 20px;
    cursor: pointer;
}
#search:hover{
    background-color: #d6d6d6;
}
#searchSubmit:hover{
    filter: brightness(0.7);
}
#search{
    width: 200px;
    height: 30px;
    border: none !important;
    font-size: 15px;
    border-radius: 5px;
    transition: 0.2s;
    background-color: rgb(255, 255, 255);
}
#search:focus{
   outline: none;
}
#search::-webkit-input-placeholder{
    color: #919191;
}
#searchSubmit:hover ~ #searchForm{
    width: 100px;
}


.flex{
    display: flex;
}
.space-evenly{
    justify-content: space-evenly;
}
.space-between{
    justify-content: space-between;
}
.space-around{
    justify-content: space-around;
}
.align-center{
    align-items: center;
}
.align-end{
    align-items:flex-end;
}
.justify-center{
    justify-content: center;
}
.bold{
    font-weight: bold;
}
.normal{
    font-weight: normal;
}
.lightFont{
    color: var(--lightFont);
}
.darkFont{
    color: var(--darkFont)
}
.redFont{
    color: var(--redFont)
}
.pd10{
    padding: 10px;
    box-sizing: border-box;
}

.mrgr10{
    margin-right: 10px;
}
.mrgr15{
    margin-right: 15px;
}
.mrgt20{
    margin-top: 20px;
}
.mrgb15{
    margin-bottom: 15px;
}
#mainBlock{
    height: 470px;
    position: relative;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    background-image: url('bg/clear1.jpg');
}
.semiTransperentBg{
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color:#000000a0;
}
.daysBlock{
    z-index: 200;
    width: 100%;
}
.daysHolder{
    width: 100%;
    justify-content: center;}

.dayBlock {
    z-index: 200;
    position: relative;
    width: 340px;
    font-size: 18px;
    box-sizing: border-box;
    flex-direction: column;
    margin: 0px 20px;
    scroll-snap-align: start;
    scroll-margin-left:20px;

    backdrop-filter: blur(4px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

}
.blockLoading::after{
    content: '';
    z-index: 400;
    border-radius:  8px;
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: linear-gradient(90deg, #4848489a, #d8d8d8a5);
	background-size: 400% 400%;
    top: 50%;
    transform: translateY(-50%);
    content: "";
	animation: gradient 1.5s ease infinite;
    visibility: visible
}
.hide{
    visibility: hidden
}
.dayHeader{
    border-radius:  8px;
    background-color: var(--transpWhite);
    width: 100%;
    font-size: 19px;
}
.dayContent{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: var(--transpWhite);
    padding: 10px 20px;
    box-sizing: border-box;
    padding-bottom: 30px;
}
.dayTemp{
    font-size: 35px;
}
.timeTempHolder{
    margin-top: 4px;
    width: 100%;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: var(--transpWhite);
}
.timeTempBlock{
    text-align: center;

    font-size: 13px;
    padding: 10px 0;
}
.timeTempBlock div{
    text-align: center;
    font-size: 15px;
}

.detailedHeader, .mobileDetailedDate{
    position: relative;
    top:25px;
    width: 100%;
    align-items: end;
}
#detailedTodayReport{
    padding-bottom: 50px;
    padding-top: 10px;
    z-index: 200;
    position: relative;
    flex-direction: column;
    position: relative;
    background-color: #fff;
}
.todayNumDate{
    font-size: 90px;
    text-align: end;
    line-height: 69px;
    margin-right: 10px;
}
.infoBlock{
    margin-top: 25px;
    width: 100%;
}
.infoIcon, .windIcon, .pressureIcon, .humidityIconm, .sunIconDay{
    width: 20px;
    height: 20px;
    background-size: contain;
    margin-right: 5px;
}
.pressureIcon{
    background-image: url('icons/pressure.png');
}
.sunIconDay{
    background-image: url('icons/day/113.png');

}
.windIcon{
    background-image: url('icons/wind.png');
}
.humidityIcon{
    background-image: url('icons/humidity.png');
}
.windBlock{
    font-size: 14px;
    margin-right: 10px;
}
.pressureBlock{
    font-size: 18px;
    margin-right: 10px;
}
#todayWind{
    font-size: 19px;
    margin-right: 5px;
}

.todayFeelsLike{
    font-size: 17px;
}
.detailedIcon{
    height: 37px;
    width: 39px;
}

 
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.detailedHeaderTitle{
    font-weight: bold;
    font-size: 17px;
}
.partOfday{
    font-size: 14px;
    font-weight: normal;
}
.detailedTodayTemp{
    font-size: 17px;
}
.weatherTable{
    width: 750px;
    position: relative;
}
.tableHeader{
    font-size: 15px;
    vertical-align: top;
    border-bottom: 1.5px solid gainsboro;
}

td{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}
td div{
    font-size: 16px;
}


table{
    border-collapse: collapse;
}

table th, table td{ /* Added padding for better layout after collapsing */
    padding: 7px 16px;
}


.windDir{
    font-weight: normal;
    font-size: 14px;
    margin-left: 5px;
}
td div{
    justify-content: baseline;
}
.sunBlock{
    position: relative;
}
.sun {
  width: 10em;
  height: 5em;
  border: 3px rgb(233, 196, 47) dashed;
  border-bottom: none;
  border-radius: 150px 150px 0 0;
  overflow: hidden;
  overflow: visible;
  position: relative;
}

.sunIcon{
    width: 35px;
    height: auto;
}
.moonIcon{
    width: 28px;
}
.sunsetIcon{
    position: absolute;
    left: 144px;
    bottom: -22px;
}

.sunriseIcon{
    position: absolute;
    right: 144px;
    bottom: -22px;
}
.sunrise{
    position: absolute;
    top: 101px;
    left: -21px;
}
.sunset{
    position: absolute;
    top: 101px;
    right: -21px;
}
.dayLong{
    font-size: 14px;
    position: absolute;
    top: 101px;
    left: 43px;
}
.lightDayName{
    font-size: 15px;
    color: var(--darkFont);
    position: absolute;
    left: 30%;
    top: 40%;
    width: min-content;
    text-align: center;
}
.moon{
    margin-top: 55px;
}
.moonIcon{
    margin-right: 8px;
}
#map{
    width: 100%;
    background-position: center;
    background-size: cover;
    justify-content: center;
    flex-direction: column;
}
.mapTitle{
    font-size: 30px;
    color:black;
    margin-top: 10px;
}
#mobileDetailedReport{
    display: none;
}
.mapBlock{

    box-sizing: border-box;
    height: 500px;
    width: 100%;
    padding: 0px 50px;
    margin-bottom: 20px;
    overflow: hidden;
}
#mapHolder{
    width: 100%;
    height: 100%;
}
#map{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 15px;
    outline:0 !important;
    touch-action: none;
}
.mapName{
    font-size: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: black;
    margin-bottom: 10px;
    }
.owm-legend-item img{
    border-radius: 10px;
    height: 200px;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar{
    transition: 0.1s ease;
    border:none !important;
    border-radius: 15px;
}

.footer{
    height: 50px;
    width: 100%;
    justify-content: center;
    font-size: 20px;
    background-color: rgb(212, 212, 212);

}
.footer a{
    text-decoration: none;
    color: var(--darkFont)
}
.footer a:hover{
    text-decoration: underline;
    color: var(--redFont)
}


.burger {
	display: none;
	transition: 0.3s;
}

.burger span,
.burger:after,
.burger:before {
	height: 4px;
	width: 100%;
	position: absolute;
	background: #515758 !important;
	margin: 0 auto;
	border-radius: 2px;
}

.burger span {
	top: 21px;
}

.burger:after,
.burger:before {
	content: '';
}

.burger:after {
	bottom: 2px;
}

.burger:before {
	top: 13px;
}

.burger.open-menu span {
	opacity: 0;
	transition: 0.5s;
}
.burger.open-menu{

    position: fixed;
}

.burger.open-menu:before {
	transform: rotate(38deg);
	top: 16px;
	transition: 0.4s;
}

.burger.open-menu:after {
	transform: rotate(-38deg);
	bottom: 16px;
	transition: 0.4s;
}

@media(max-width: 1098px) {
    .logoHolder{
        display: none;
    }
    ul{
        padding: 0;
    }
}
@media(max-width: 980px) {
    .detailedReportHolder{
        flex-direction: column;
    }
    .sunBlock{
        margin-bottom: 20px;
    }
}
@media(max-width: 866px) {
    .pcOnly{
        display: none;
    }
    #search{
        height: 50px;
        width: 126px;
        font-size: 16px;
    }
    #searchForm{
        position: relative;
        left:12px
    }
    .overlay{
        height: 100vh;
        width: 100vw;
        top:0;
        position: fixed;
        background: #00000039;
        opacity: 0;
        transition: 0.3s;
        z-index: -1000;

    }
    .openOverlay{
        opacity: 1;
        z-index: 500;
    }
    .mobileOnly{
        display: block;
    }
    .logoHolder{
        display: none;
    }
    .burger {
        top: 7px;
        left: 14px;
		position: absolute;
		width: 40px;
		height: 35px;
		display: block;
        z-index: 10000
	}
   
    .nav-item-mob {
		display: block;
		z-index: 600;
        margin-right: 5px;
        font-size: 20px;
        font-weight: normal;
        margin-bottom: 10px;


	}
    nav ul {
        padding-left: 10px;
    }
    nav {
		display: inline;
		position: absolute;
		background: rgba(255, 255, 255, 0.9);
		box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
		left: calc(-100% - 20px);
		transition: all 0.4s ease;
		height: 100vh;
        padding: 0;
        top:0px;
        padding-top: 52px;
		opacity: 0.93;
        z-index: 1000;
	}
    nav.open-menu {
		margin: 0;
		backdrop-filter: blur(3px);
    
        
        left: 0px;
        position: fixed;
	}
    
    .sunBlock{
        display: none
    }
    #cityName{
        font-size: 25px;
    }
    #mainBlock{
        height: 435px;
    }
    .dayTemp{
        font-size: 45px;
    }
    .header{
        height: 60px;
    }
    .daysHolder{
        z-index: 300;
        overflow-x: scroll;
        overflow-y:hidden;
        scroll-snap-type: x mandatory;
        justify-content: start;
    }
    .daysBlock{
        position: relative;
    }
    .daysBlock .btn {
        position: absolute;
        top: 53%;
        margin-top: 20px;
        height: 24px;
        width: 30px;
        border-radius: 15px;
        background-color: rgba(95, 106, 117, 0.3);
        z-index: 1;
        line-height: 24px;
        text-align: center;
        color: var(--lightFont);
        font-weight: bold;
        z-index: 500;
     }
     .daysBlock .btn.next {
        right: 26px;
     }
     .daysBlock .btn.prev {
        left: 26px;
     }
    .daysHolder::-webkit-scrollbar {
        height: 0px;
    }
    .dayBlock{
        min-width: 90vw;
        position: relative;
        scroll-snap-align:start;
    }
    .dayHeader{
        border-radius: 20px;
    }
    .dayContent{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .timeTempHolder{
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .blockLoading::after{
        border-radius: 20px;
    }
    #detailedTodayReport{
        display: none;
    }
    #mobileDetailedReport{
        display: flex;
        margin-top: 12px;
        flex-direction: column;
        padding: 0 100px;
        background: #eceef2;
    }
    .todayNumDate{
        font-size: 80px;
        position: relative;
        top: 10px;
}
    .mobileDetailedDate{
        position: relative;
        width: 100%;
        top: unset;
        left: unset;
    }
    .mobileDetailedHeader{
        justify-content: space-between;
        position: relative;
        width: 100%;
        font-size: 20px;
        box-sizing: border-box;
        padding: 20px 30px;
        padding-bottom: 12px;
    }
    .mobileDetailedBlock{
        width: 100%;
        position: relative;
        box-sizing: border-box;
        border-radius: 20px;
        margin-bottom: 20px;
        background: #ffffff;
    }
    .mobileBlockName{
        font-size: 17px;
    }
    .mobileDetailedRow{
        color: var(--darkFont);
        padding: 0 10px;
        box-sizing: border-box;
        align-items: end;
        justify-content: space-between;
    }
    .mobileCaption{
        font-size: 14px;
        margin-top: 10px;
        font-weight: normal;
        color: var(--lightFont);
        margin-bottom: 5px;
    }
    .mobileDetailedTodayTemp{
        flex-direction: column;
    }
    .wind, .humidity{
        margin-top: 5px;
        text-align: center;
    }
    .windDir{
        margin-top: 5px;
        margin-left: 0;
        font-weight: normal;
        font-size: 14px;
        text-align: center;
    }
    .mobilePressureBlock{
        margin-top: 5px;

        display: flex;
        align-items: center;
        flex-direction: column;
    }
    body{
        background: #eceef2;

    }
    .sunIcon{
        width: 35px;
        height: auto;
    }
    .moonIcon{
        width: 28px;
    }
    .sunInfoIcon{
        object-fit: cover;
        width: 53px;
        height: 35px;
    }
    .sunsetIcon{
        position: unset
    }
    
    .sunriseIcon{
        position: unset
    }
    .sunrise{
        position: unset
    }
    .sunset{
        position: unset
    }
    .dayLong{
        position: unset;
    }
    .lightDayName{
        font-size: 15px;
        position: absolute;
        left: 30%;
        top: 40%;
        width: min-content;
        text-align: center;
    }
    .moon{
        margin-top: 55px;
    }
    .sunRow{
        align-items: center;
        justify-content: center;
    }
    .sunHeader div{
        text-align: center;
        font-size: 15px;
    }
    .sunHeader{
        justify-content: space-between;
        position: relative;
        width: 100%;
        font-size: 20px;
        box-sizing: border-box;
        padding: 0px 25px;
        padding-bottom: 12px;
    }
    .sunRow{
        margin-top: 8px;
    }
    .sunItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}
@media(max-width: 613px) {
    #mobileDetailedReport{
        padding: 0 50px;
    }
    .mapBlock {
        padding: 0 20px;
    }

}
@media(max-width: 445px) {
    #mobileDetailedReport{
        padding: 0 18px;

    }
}

    