:root {
    --transpWhite:  rgba(255, 255, 255, 0.745);
    --darkFont: #3b3737;
    --lightFont: #464242;

  }
@font-face {
	font-family: 'Corbel'; 
	src: url(fonts/Corbel.ttf); 
}
@font-face {
	font-family: 'Corbel'; 
	src: url(fonts/Corbel-Bold.ttf); 
    font-weight: bold;
}
body {
	margin: 0;
    background-color: black;
    height: 100vh;
    width: 100vw;
    font-family: 'Corbel';
    top: 0px !important;

}
.goog-te-gadget-simple{
    background-color: #efefef;
    border: none !important;
    border-radius: 8px !important;
    padding: 5px 0px !important;
    transition: 0.3s;

}
.goog-te-gadget-simple:hover{
    background-color: #d3d3d3;
}
.goog-te-gadget img {
    display: none;
}
.goog-te-combo{
    display: none;
}
.goog-te-gadget-simple span:nth-child(3), .goog-te-gadget-simple span:first-child{
    margin-right: 5px;
}

.skiptranslate iframe{
    visibility:hidden !important;
    display:none !important;
}
.header {
    height: 80px;
    width: 100%;
    background-color: white;
}
.logo, .dayIcon{
    height: 60px;
    width: 60px;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    box-sizing: border-box;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline;
}
nav ul li a{
   text-decoration: none;
   color: var(--lightFont);
   font-size: 20px;
   margin-right: 20px;
}
.flex{
    display: flex;
}
.space-evenly{
    justify-content: space-evenly;
}
.space-between{
    justify-content: space-between;
}
.space-around{
    justify-content: space-around;
}
.align-center{
    align-items: center;
}

.bold{
    font-weight: bold;
}
.lightFont{
    color: var(--lightFont);
}
.darkFont{
    color: var(--darkFont)
}
.pd10{
    padding: 10px;
    box-sizing: border-box;
}

.mrgr10{
    margin-right: 10px;
}
.mrgr15{
    margin-right: 15px;
}
.mrgt20{
    margin-top: 20px;
}
.mrgb15{
    margin-bottom: 15px;
}
.mainBlock{
    width: 100%;
    height: 60%;
    position: relative;
    background-size: cover;
}
.semiTransperentBg{
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color:#000000a9;
}
.dayBlock {
    z-index: 200;
    width: 340px;
    font-size: 18px;
    flex-direction: column;
}
.dayHeader{
    border-radius:  5px;
    background-color: var(--transpWhite);
    width: 100%;
    font-size: 19px;

}
.dayIcon{
    height: 48px;
    width: 48px;
    margin-right: 10px;
}
.location{
    background-image: url(icons/location.svg);
}
/* состяние погодных иконок */
.sun{
    background-image: url(icons/sun.svg);
}
.partly-cloudy{
    background-image: url(icons/partly-cloudy.svg);
}
.cloudy{
    background-image: url(icons/cloudy.svg);
}
.thunderstorm{
    background-image: url(icons/thunderstorm.svg);
}
.rain{
    background-image: url(icons/rain.svg);
}
.rainy{
    background-image: url(icons/rainy.svg);
}
.snowy{
    background-image: url(icons/snowy.svg);
}
.windy{
    background-image: url(icons/windy.svg);
}
.heavy-rain{
    background-image: url(icons/heavy-rain.svg);
}
.haze{
    background-image: url(icons/haze.svg);
}
.hail{
    background-image: url(icons/hail.svg);
}

/* состяние заднего фона */
.sunBg{
    background-image: url(bg/sunBg.jpg);
}

.dayContent{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--transpWhite);
    padding: 10px 20px;
    padding-bottom: 40px;
}

.dayTemp{
    font-size: 35px;
}
.timeTempHolder{
    margin-top: 4px;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--transpWhite);

}
.timeTempBlock{
    padding: 10px 0;
}